@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

:root {
  --main: #DC0000;
  --hover: #850000;
  --link: #000000;
  --btn: #ffffff;
}

.dark-mode {
  background-color: #222222;
  color: #fff;
  --link: #ffffff;
  --btn: #222222;
}

.logo {
  font-size: 4rem;
  font-weight: 600;
}

header li {
  list-style: none;
}

.navbar {
  min-height: 6rem;
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15rem;
  background-color: none;
}

.icons {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}

#dark-mode-toggle {
  padding: 0.1rem;
}

#dark-mode-toggle:hover,
#fullscreen-toggle:hover,
#info-page:hover {
  cursor: pointer;
  color: var(--main);
}

.imp {
  color: var(--main);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.timer-container {
  padding: 4rem 10rem;
  border-radius: 1.5rem;
  text-align: center;
}

#timer {
  margin-top: 15rem;
  font-size: 28rem;
  font-weight: bold;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
  align-items: center;
}

.timer-controls {
  align-items: center;
  margin: 16rem 0 0 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.increase,
.decrease {
  background-color: var(--main);
  color: var(--btn);
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  padding: 1rem 1.3rem;
  cursor: pointer;
}

.increase:hover,
.decrease:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.button-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

button {
  background-color: var(--main);
  color: var(--btn);
  border: none;
  border-radius: 7rem;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--hover);
}

#reset {
  display: none;
}

.copy {
  text-align: center;
  align-items: flex-end;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--main);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2,
th {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
}

p,
li,
td {
  margin: 1rem 0;
  font-size: 2rem;
}

li {
  list-style: disc;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: 600;
}

main {
  margin: 2rem 14rem;
  padding: 1rem;
}

.socials {
  color: var(--main);
  text-decoration: underline;
  font-size: 2rem;
}

.socials:hover {
  color: var(--hover);
}

#social-buttons {
  display: flex;
  margin-top: 1rem;
  font-size: 2rem;
}

#social-buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: var(--main);
  color: #ffffff;
}

#social-buttons {
  display: flex;
  margin-top: 1rem;
}

#social-buttons a:hover {
  background-color: var(--hover);
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 3rem 5rem;
  }
  
  .timer-container {
    padding: 4rem 5rem;
  }
  
  main {
    margin: 2rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 3rem 2rem;
    font-size: 2.5rem;
  }
  
  .icons {
    font-size: 2.5rem;
  }
  
  #timer {
    margin-top: 10rem;
    font-size: 15rem;
  }
  
  .timer-controls {
    margin: 10rem 0 0 0rem;
  }
  
  .increase,
  .decrease {
    font-size: 1.8rem;
    padding: 0.8rem 1rem;
  }
  
  button {
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }
  
  .copy {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  
  h2, th {
    font-size: 2.5rem;
  }
  
  p,li,td, .socials {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    padding: 3rem 1rem;
  }
  
  .timer-container {
    padding: 2rem;
  }
  
  main {
    margin: 2rem 1rem;
  }
  
  .logo {
    font-size: 3rem;
  }
  
  .icons {
    font-size: 2rem;
    gap: 1.5rem;
  }
  
  #timer {
    margin-top: 8rem;
    font-size: 12rem;
  }
  
  .timer-controls {
    margin: 8rem 0 0 0rem;
    font-size: 1.5rem;
  }
  
  .increase,
  .decrease {
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
  }
  
  button {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }
  
  .copy {
    margin-top: 8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  h2, th {
    font-size: 2rem;
  }
  
  p,li,td,socials {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  
  ul {
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }

  .navbar {
    padding: 2rem;
  }

  .timer-container {
    padding: 2rem;
  }

  #timer {
    margin-top: 10rem;
    font-size: 10rem;
  }

  .timer-controls {
    margin: 8rem 0 0 0rem;
  }

  .increase,
  .decrease {
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  #reset {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .copy {
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  p,li,td,socials {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  th, td {
    padding: 0.3rem;
  }

  #social-buttons {
    font-size: 1.5rem;
  }

  #social-buttons a {
    width: 3rem;
    height: 3rem;
    margin-right: 0.3rem;
  }
}
